<template></template>
<script>
    export default {
        methods: {
            initAuthUser() {
                axios.get('/auth/get-user')
                    .then(r => this.$store.commit('setUser', r.data));
            },
        },
        created() {
            this.initAuthUser();
        }
    }
</script>