* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.panel, .btn, .dropdown-menu, .label {
    border-radius: 0;
}

.label-danger, .btn-danger {
    background-color: #ea3e23;
}

.label-warning, .btn-warning {
    background-color: #ffbb00;
}

.label-info, .btn-info {
    background-color: rgba(0, 161, 241, 0.5);
}

.dialog-message-item {
    padding-top: 10px;
}

.dialog-message-item:hover {
    border-right: 5px solid #00a1f1;
    border-left: 5px solid #00a1f1;
    /*cursor: pointer;*/
}

.dialog-message-item a {
    color: #444444;
}

.panel-footer {
    background-color: #ffffff;
}

.panel-footer {
    padding: 0;
}

.panel-footer {
    border: 0;
}

 .chat-composer {
     display: flex !important;
 }

.chat-composer textarea {
    flex: 1 auto !important;
    padding: 10px !important;
    border: 0 !important;
    font-weight: bold;
}

.chat-composer input:focus {
    outline: none !important;
}

.chat-composer button {
    border-radius: 0 !important;
    border-color: #e6e5e5 transparent transparent #e6e5e5;
}

.dialog-message {
    word-wrap: break-word;
}

.dialog-messages {
    height: 500px;
    overflow-y: auto;
}

.sidebar {
    border-right: 1px solid #e6e5e5;
    height: 90vh;
}

.sidebar > ul {
    list-style: none;
    padding: 0 !important;
}

.sidebar > ul > li > a {
    /*margin-top: 50px;*/
    display: block;
    padding: 20px 0;
    border-bottom: 1px dashed #e6e5e5;
}

.sidebar > ul > li > a {
    color: #444444;
}

.sidebar > ul > li > a > span {
    margin-left: 1.5em;
    font-weight: bold;
}

.sidebar > ul > li > a {
    color: #444444;
}

.sidebar > ul > li:hover {
    /*background-color: #444444;*/
    cursor: pointer;
    /*border-bottom: 1px dashed #444444;*/
    border-right: 5px solid #00a1f1;
    /*border-left: 5px solid #00a1f1;*/
}

.sidebar > ul > li:hover > a {
    /*color: whitesmoke !important;*/
}

.nav-tabs > li > a {
    border: 0 !important;
    color: #444444;
}

.friends {
    padding: 10px 10px 0 10px;
}

.friends .nav-tabs {
    border-bottom: 0;

}

.friends .nav > li > a:hover {
    background-color: white;
    border-bottom: 5px solid #00a1f1 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-bottom: 5px solid #00a1f1 !important;
    color: #444444;
}

.mark-online {
    background-color: #2ab27b;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    border: 3px solid white;
}

.notifications-count {
    /*background-color: #ea3e23;*/
    /*width: 20px;*/
    /*height: 20px;*/
    border-radius: 25%;
    position: absolute;
    right: 5%;
    top: 10%;
    border: 3px solid white;
}

.sidebar-active {
    /*border-right: 5px solid #00a1f1;*/
    border-left: 5px solid #00a1f1;
}

.form-control {
    border-radius: 0;
}