<template>
    <div class="row">
        <div class="col-sm-12" v-if="waitings.length > 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Заявки в друзья <span
                            class="label label-primary">{{ waitings.length }}</span></span>
                    <span class="h4 pull-right" style="margin-top: 0;">Показать все <i class="fa fa-chevron-right"></i></span>
                </div>
                <div class="panel-body">
                    <div v-for="(waiting, index) in waitings">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <router-link :to="{ name: 'profile', params: { id: waiting.id } }">
                                    <img src="https://vk.com/images/camera_200.png" alt="" width="100%"
                                         style="border-radius: 50%;">
                                    <div class="mark-online" v-show="waiting.online"></div>
                                </router-link>
                            </div>
                            <div class="col-sm-10">
                                <router-link :to="{ name: 'profile', params: { id: waiting.id } }">
                                    <h4>{{ waiting.name }}</h4>
                                </router-link>
                                <button class="btn btn-primary" @click="acceptFriendship(waiting.id, index)">Добавить в
                                    друзья
                                </button>
                                <button class="btn btn-default" @click="cancelWaitingFriendship(waiting.id, index)">
                                    Отменить
                                </button>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading friends">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#all-friends" aria-controls="home"
                                                                      role="tab" data-toggle="tab">Все друзья <span
                                    class="label label-primary">{{ friends.length }}</span></a></li>
                            <li role="presentation"><a href="#online-friends" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Друзья онлайн <span
                                    class="label label-primary">{{ online.length }}</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="all-friends">
                            <div v-for="friend in friends">
                                <div class="row">
                                    <div class="col-sm-2 text-center">
                                        <router-link :to="{ name: 'profile', params: { id: friend.id } }">
                                            <img src="https://vk.com/images/camera_200.png" alt="" width="100%"
                                                 style="border-radius: 50%;">
                                            <div class="mark-online" v-show="friend.online"></div>
                                        </router-link>
                                    </div>
                                    <div class="col-sm-10">
                                        <router-link :to="{ name: 'profile', params: { id: friend.id } }">
                                            <h4>{{ friend.name }}</h4>
                                        </router-link>
                                        <router-link class="btn btn-default"
                                                     :to="{ name: 'dialog', params: { id: friend.id, isDialog: false } }">
                                            Написать сообщение
                                        </router-link>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="online-friends">
                            <div v-for="friend in online">
                                <div class="row">
                                    <div class="col-sm-2 text-center">
                                        <router-link :to="{ name: 'profile', params: { id: friend.id } }">
                                            <img src="https://vk.com/images/camera_200.png" alt="" width="100%"
                                                 style="border-radius: 50%;">
                                            <div class="mark-online" v-show="friend.online"></div>
                                        </router-link>
                                    </div>
                                    <div class="col-sm-10">
                                        <router-link :to="{ name: 'profile', params: { id: friend.id } }">
                                            <h4>{{ friend.name }}</h4>
                                        </router-link>
                                        <router-link class="btn btn-default"
                                                     :to="{ name: 'dialog', params: { id: friend.id, isDialog: false } }">
                                            Написать сообщение
                                        </router-link>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                prefix: '/friendship',
                friends: [],
                waitings: []
            }
        },
        methods: {
            getFriends() {
                axios.get(this.prefix + '/friends')
                    .then(r => this.friends = r.data);
            },
            getWaitings() {
                axios.get(this.prefix + '/waiting')
                    .then(r => this.waitings = r.data);
            },
            acceptFriendship(id, index) {
                axios.get(this.prefix + '/accept/' + id)
                    .then(r => {
                        this.friends.push(this.waitings[index]);
                        this.waitings.splice(index, 1);
                    });
            },
            cancelWaitingFriendship(id, index) {
                axios.get(this.prefix + '/cancel-waiting/' + id)
                    .then(r => this.waitings.splice(index, 1));
            }
        },
        computed: {
            online() {
                return this.friends.filter(f => {
                    return f.online;
                });
            }
        },
        mounted() {
            this.getFriends();
            this.getWaitings();
        }
    }
</script>