<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-center h4" style="font-weight: bold;">
                        {{ dialog.name }}
                    </div>
                </div>
                <div class="panel-body dialog-messages">
                    <div class="row" v-for="message in dialog.messages">
                        <div class="col-sm-2">
                            <router-link :to="{ name: 'profile', params: { id: message.user.id } }">
                                <img src="https://vk.com/images/camera_200.png" width="100%"
                                     style="border-radius: 50%;">
                            </router-link>
                        </div>
                        <div class="col-sm-7 dialog-message">
                            <router-link :to="{ name: 'profile', params: { id: message.user.id } }">
                                <span style="font-weight: bold;" class="h4">
                                    {{ message.user.name }}
                                </span>
                            </router-link>
                            <br>
                            {{ message.message }}
                        </div>
                        <div class="col-sm-3">
                            <div class="label label-info">
                                {{ message.created_at }}
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <br>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <hr>
                        </div>
                    </div>
                    <div class="chat-composer">
                            <textarea type="text" placeholder="Напишите Ваше сообщение..."
                                      v-model="message" @keyup.enter="sendMessage" required>
                            </textarea>
                        <button class="btn btn-default" @click="sendMessage">Відправити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            id: Number,
            isDialog: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                dialog: {},
                message: ''
            }
        },
        methods: {
            getDialog() {
                if (this.isDialog) {
                    axios.get('/dialog/open-dialog/' + this.id)
                        .then(r => {
                            this.dialog = r.data;
                            this.getMessages();
                        });
                } else {
                    axios.get('/dialog/writing-to-user/' + this.id)
                        .then(r => {
                            this.$router.replace({name: 'dialog', params: { id: r.data.id, isDialog: true }});
                        });
                }
            },
            getMessages() {
                axios.get('/dialog/get-messages/' + this.dialog.id)
                    .then(r => {
                        this.$set(this.dialog, 'messages', r.data);
                        this.autoScrollDown();
//                        this.listen();
                    });
            },
            sendMessage() {
                let FD = new FormData();
                FD.append('message', this.message);
                axios.post('/dialog/send-message/' + this.dialog.id, FD)
                    .then(r => {
                        this.message = '';
                    });
            },
            listen() {
                Echo.private('App.Dialog.' + this.dialog.id)
                    .listen('NewDialogMessage', e => {
                        this.dialog.messages.push(e.message);
                        this.autoScrollDown();
                    });
            },
            autoScrollDown() {
                setTimeout(() => {
                    $("div.dialog-messages").scrollTop($("div.dialog-messages")[0].scrollHeight * 2);
                }, 10);
            }
        },
        created() {
            this.getDialog();
        },
        destroyed() {
//            Echo.leave('App.Dialog.' + this.dialog.id);
        }
    }
</script>