<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                        <span class="h3" style="font-weight: bold;">
                            Диалоги
                        </span>
                </div>
                <div class="panel-body">
                    <dialog-list-item v-for="dialog in dialogs" :dialog="dialog"></dialog-list-item>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                prefix: '/dialog',
                dialogs: []
            }
        },
        methods: {
            getDialogs() {
                axios.get(this.prefix + '/all-dialogs')
                    .then(r => this.dialogs = r.data)
                    .catch(e => console.log(e));
            }
        },
        mounted() {
            this.getDialogs();
        }
    }
</script>