<template>
    <div class="row dialog-message-item">
        <router-link :to="{ name: 'dialog', params: { id: dialog.id, isDialog: true } }">
            <div class="col-sm-2 text-center">
                <img src="https://vk.com/images/camera_200.png" alt="" width="100"
                     style="border-radius: 50%;">
            </div>
            <div class="col-sm-7">
                <span class="h5" style="font-weight: bold;">{{ dialog.name }}</span>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2" style="padding-right: 0;">
                        <img src="https://vk.com/images/camera_200.png"
                             :title="dialog.latest_message.user.name" width="75%"
                             style="border-radius: 50%;">
                    </div>
                    <div class="col-sm-9" style="padding-left: 0;">
                        <br>
                        {{ dialog.latest_message.message | cutMessage }}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="label label-info">
                    {{ dialog.latest_message.created_at }}
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <hr>
            </div>
        </router-link>
    </div>
</template>
<script>
    export default {
        props: ['dialog'],
        filters: {
            cutMessage(message) {
                if (message.length > 30) {
                    return message.slice(0, 30) + '...';
                }
                return message;
            }
        }
    }
</script>