<template>
    <div>

    </div>
</template>
<script>
    export default{
        props: ['id'],
        methods: {
            listen() {
                Echo.private('App.User.' + this.id)
                        .notification(notification => {
                            this.$store.commit('addNotification', {data: notification});
                        });
            }
        },
        mounted() {
            this.listen();
        }
    }
</script>
