<template>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false">
            <i class="fa fa-bell-o fa-2x"></i> <b class="label label-danger notifications-count" v-show="allNotificationsCount > 0">{{ allNotificationsCount }}</b>
        </a>

        <ul class="dropdown-menu notifications-menu" role="menu">
            <li v-for="notification in allNotifications">
                <a href="#">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <i :class="notification.data.icon" class="fa-2x"></i>
                        </div>
                        <div class="col-md-10">
                            <span>{{ notification.data.message }}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</template>
<style>
    .notifications-menu {
        min-width: 500px;
    }
</style>
<script>
    export default{
        methods: {
            getUnreadNotifications() {
                axios.get('/unread-notifications')
                        .then(r =>
                                r.data.forEach(notification =>
                                        this.$store.commit('addNotification', notification)));
            }
        },
        computed: {
            allNotifications() {
                return this.$store.getters.allNotifications;
            },
            allNotificationsCount() {
                return this.allNotifications.length;
            }
        },
        mounted() {
            this.getUnreadNotifications();
        }
    }
</script>
