<template>
    <div class="sidebar">
        <ul>
            <router-link tag="li" :to="{ name: 'profile' }" active-class="sidebar-active">
                <a>
                    <span>
                        <i class="fa fa-user fa-2x"></i> Профиль
                    </span>
                </a>
            </router-link>
            <router-link tag="li" :to="{ name: 'friends' }" active-class="sidebar-active">
                <a>
                    <span>
                        <i class="fa fa-users fa-2x"></i> Друзья
                    </span>
                </a>
            </router-link>
            <router-link tag="li" :to="{ name: 'dialogs' }" active-class="sidebar-active">
                <a>
                    <span>
                        <i class="fa fa-comments-o fa-2x"></i> Диалоги
                    </span>
                </a>
            </router-link>
            <li>
                <a href="#">
                    <span><i class="fa fa-image fa-2x"></i> Фото</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-newspaper-o fa-2x"></i> Новости</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-cogs fa-2x"></i> Настройки</span>
                </a>
            </li>
        </ul>
        <init-app-data></init-app-data>
    </div>
</template>