<template>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <img src="https://vk.com/images/camera_200.png" alt="">
                </div>

                <div class="panel-body" v-if="!user.isMe">
                    <div class="h3 text-center" style="font-weight: bold;">
                        {{ user.name }}
                    </div>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-success" v-if="!user.status"
                                @click="offer">Добавить в друзья
                        </button>
                        <button class="btn btn-warning" v-if="user.status == 'pending'"
                                @click="cancelPending">Отменить заявку
                        </button>
                        <button class="btn btn-primary" v-if="user.status == 'waiting'"
                                @click="accept">Принять заявку
                        </button>
                        <button class="btn btn-danger" v-if="user.status == 'waiting'"
                                @click="cancelWaiting">Отменить заявку
                        </button>
                        <button class="btn btn-danger" v-if="user.status == 'friend'"
                                @click="deleteFriend">Удалить из друзей
                        </button>
                    </div>
                    <br>
                    <div class="text-center">
                        <router-link class="btn btn-default"
                                     :to="{ name: 'dialog', params: { id: user.id, isDialog: false } }">
                            Написать сообщение
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['id'],
        data() {
            return {
                user: {},
                prefix: '/friendship'
            }
        },
        methods: {
            getUserProfile() {
                axios.get('/profile/' + (this.id == null ? '' : this.id))
                    .then(r => this.user = r.data);
            },

            getStatus() {
                axios.get(this.prefix + '/status/' + this.user.id)
                    .then(r => {
                        this.user.status = r.data;
                    });
            },
            offer() {
                axios.get(this.prefix + '/offer/' + this.user.id)
                    .then(this.getStatus);
            },
            accept() {
                axios.get(this.prefix + '/accept/' + this.user.id)
                    .then(this.getStatus);
            },
            cancelPending() {
                axios.get(this.prefix + '/cancel-pending/' + this.user.id)
                    .then(this.getStatus);
            },
            cancelWaiting() {
                axios.get(this.prefix + '/cancel-waiting/' + this.user.id)
                    .then(this.getStatus);
            },
            deleteFriend() {
                axios.get(this.prefix + '/delete/' + this.user.id)
                    .then(this.getStatus);
            },
            listen() {
                Echo.private('App.User.' + this.$store.getters.getUser.id)
                    .listen('StatusChanged', e => {
                        this.user.status = e.status == 0 ? null : e.status;
                    });
            }
        },
        created() {
            this.getUserProfile();
//            this.listen();
        }
    }
</script>